doctype html
html( lang='en' )

    head
        include head/_head

    body
        include icons/_icons

        include analytics/_ua
        main
            block body

        include scripts/_scripts